/****************************
		Navigation
****************************/
.navbar-default {
	background-color: #fff;
	border-bottom: none;	
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #aaa;
}
.navbar-default .navbar-nav>li>a.selected {
	border-bottom: 2px solid #000;
}

/****************************
		Positioning
****************************/
.push-lg {
	margin-bottom: 2em;
}

.push-sm {
	margin-bottom: 1em;
}

footer {
	padding-top: 4em;
}

footer small p a {
	color: black;
	text-decoration: none;
	cursor: default;
}

footer small p a:hover {
	color: black;
	text-decoration: none;
}

/****************************
		Blog - sidebar
****************************/

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container, .front, .back {
	width: 120px;		
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
}

.front {
	background: url(/static/img/john.png) 0 0 no-repeat;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.reverse {
	-webkit-transform: rotateY(180deg);
	-moz-transform': rotateY(180deg);
	transform': rotateY(180deg);
}

.social {
	margin-top: 12em;
	margin-left: 2.25em;
}

.social li {
	list-style-type: none;
	display: inline;

}

/****************************
		Resume
****************************/
.res-head {
	font-size: 1.5em;
	color: #bbb;
}

.res-name {
	font-size: 2.15em;
	margin-bottom: 0;
}

.res-con {
	font-size: 1em;
	margin-top: 0;
}

/****************************
		Projects/Blog
****************************/
.project-icon {
	cursor: pointer;
	padding-bottom: 1em;
}

.project-icon img {
	-webkit-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.project-icon img:hover {
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
}


.old_arrow {
	float: left;
}

.new_arrow {
	float: right;
}

.post-title a {
	color: black;
}

#addpost textarea {
	width: 100%;
	height: 150px;
	margin-bottom: 1em;
	border-radius: 5px;
	resize: none;
}

.post img {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid black;
	border-radius: 5px;
}

#preview {
	float: right;
	cursor: pointer;
}



/****************************
		Maker
****************************/

.ideas li {
	list-style: none;
	margin-bottom: .75em;
}

li.done:before { 
	font-family: 'FontAwesome';   
	content: '\f00c';
	margin:0 10px 0 -15px;
	color: #6C9F2E;
}

li.inprog:before {
	font-family: 'FontAwesome';   
	content: '\f0ad';
	margin:0 10px 0 -15px;
	color: gray;
}

li.next:before {
	font-family: 'FontAwesome';   
	content: '\f054';
	margin:0 10px 0 -15px;
}

.project-img {
	margin-top: 1em;
	margin-bottom: 1em;
	height: 50px;
	width: 50px;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);;
	box-shadow: 0px 0px 7px 2px rgba(167,167,167,1);;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;

}

.project-img:hover {
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.mk-head {
	margin-bottom: 20px;
}

/****************************
		Records
****************************/

tr > td {
	padding: 0.5em 1em 0.5em 0.5em;
}


tr > td:nth-child(1n+0),
tr > td:nth-child(2n+0) {
	width: 30%;
}

tr > td:nth-child(3n+0),
tr > td:nth-child(4n+0) {
	width: 10%;
}

tr > td:nth-child(5n+0) {
	width: 20%;
}

thead {
	border-bottom: 1px solid black !important;
}

th {
	padding-bottom: 0.5em !important;
	/*border: 1px dotted red;*/
}

tr td.size {
	vertical-align: bottom !important;
}

tr:nth-of-type(even) {
	background-color: #f0f0f0;
}

.notes {
	text-align: center;
}

.count {
	text-align: right;
	color: gray;
	font-style: italic;
	font-weight: normal;
}

table {
	width: 100%;
	margin-bottom: 2em;
}

dd > input,
dd > select {
	margin: 0 1em 1em 0;
}

dd > input {
	border-top: none;
	border-left: none;
	border-right: none; 
	border-bottom: 1px solid gray;
	outline: none;
}

#addform {
	display: none;
}

#addform dl {
	float: left;
}

label[for="mail"] {
	padding-right: 1em;
}

#addform > form > .btn,
#addpost > form > .btn,
#login > form > .btn {
	background-color: transparent;
	border: 1px solid black;
	padding: 1em;
}

#addform > form > .btn:hover,
#addpost > form > .btn:hover,
#login > form > .btn:hover {
	background-color: black;
	color: white;
}

select {
	background-color:transparent;
	border: 1px solid black;
	outline: none;
}

#plus {
	
	float: right;
	position: relative;
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 1px black;
	font-size: 2em;
	font-weight: bold;
	transition: transform 0.35s ease-out;
}

.rotate {
  transform-origin: 50% 50%;
	transform: rotate(45deg);
}


#plus:hover {
	cursor: pointer;
	color: black;
}
#letter:hover {
	cursor: pointer;
	color: #aaa;
}

.mail {
	display: none;
}

#letter i {
	float: left;
	padding-top: 1em;
}

.outline {
	color: transparent;
	-webkit-text-stroke: 1px black;
}

/*Hide bio image on mobile*/

@media (max-width: 768px) {
	.flip-container {
		display: none;
	}

	.social {
		display: none;
	}

	.navbar-default .navbar-nav>li>a.selected {
		border-bottom: none;
		background-color: lightgray;
	}
}