/****************************
		Navigation
****************************/
.navbar-default {
	background-color: #fff;
	border-bottom: none;	
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a.selected {
	border-bottom: 2px solid #000;
}

/****************************
		Positioning
****************************/
.push-lg {
	margin-bottom: 2em;
}

.push-sm {
	margin-bottom: 1em;
}

footer {
	padding-top: 4em;
}

/****************************
		Home
****************************/
.par {
	font-size: 1.1em;
	line-height: 1.65em;
}

.lastfm {
	font-size: .8em;
	background-color: #f8f8f8;
	padding: 2em;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}

.sammy {
	cursor: pointer;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container, .front, .back {
	width: 274px;
	height: 374px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: url(/static/img/john.png) 0 0 no-repeat;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}



/****************************
		Resume
****************************/
.res-head {
	font-size: 1.5em;
	color: #bbb;
}

.res-name {
	font-size: 2.15em;
	margin-bottom: 0;
}

.res-con {
	font-size: 1em;
	margin-top: 0;
}

/****************************
		Projects
****************************/
.project-icon {
	cursor: pointer;
	
}

.project-img {
	border: 1px solid #000;
	margin-top: 1em;
	margin-bottom: 1em;
}


/*Hide bio image on mobile*/

@media (max-width: 768px) {
	.flip-container {
		display: none;
	}

	.sammy {
		color: #000;
		cursor: pointer;
	}

	.navbar-default .navbar-nav>li>a.selected {
		border-bottom: none;
		background-color: lightgray;
	}
}