{% macro render_post(post,IMAGES,page) %}
	<div id="{{ post[0] }}" class="post">

		<!-- Title -->
		{% if page != 1 %}
			<h2 class="post-title"><a href="{{post[1]|replace(' ','-')}}">{{ post[1] }}</a></h2>
		{% else %}
			<h2 class="post-title"><a href="blog/{{post[1]|replace(' ','-')}}">{{ post[1] }}</a></h2>
		{% endif %}

		<!-- github link and timestamp  -->
		{% if post[4] != '' %}
			<h4 class="push-sm">
				<a href="{{ post[4] }}" target="_blank">
					<i class="fa fa-github-square"></i>
				</a>
				<small>| {{ post[3] }}</small>
			</h4>
		{% else %}	
			<h4><small>{{ post[3] }}</small></h4>
		{% endif %}	

		<!-- Content -->
		<p>{{post[2]|safe}}</p>

		<!-- Images -->
		{% for k,v in IMAGES.items() %}
			{% if k == post[0] %}
				{% for i in v %}
					<a  class="gallery" href="#" data-featherlight="{{ i }}"><img src="{{ i }}" class="project-img img-rounded"></a>
				{% endfor %}
			{% endif %}
		{% endfor %}
		
	</div>
	<hr>
{% endmacro %}

