{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message|safe }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% if session['logged_in'] == True %}
	<p style="color:green;"><strong>Logged in</strong></p>	
{% endif %}

<div class="row">
	<div class="col-sm-3">
		{% from "macros/_renderbio.html" import render_bio %}
			{{ render_bio(CONTENT_DICT) }}
	<div class="col-sm-6">

		<div class="row">
			<div class="col-sm-12 push-sm">
			{% from "macros/_renderpost.html" import render_post %}


			<!-- If on an integer page -->
			{% if posttitle == None %}


					<!-- if you are logged in -->
					{% if session['logged_in'] == True and page == 1 %}

						{% from "macros/_renderfield.html" import render_field %}
						<div id="addpost">
							<form method='POST' action="/addpost" class=''>
								{{ AddPost.csrf_token }}
								{{ render_field(AddPost.title) }}
								{{ render_field(AddPost.timestamp) }}
								{{ render_field(AddPost.content) }}
								{{ render_field(AddPost.ghlink) }}
								<button class="btn" type="submit">Add Post</button>
							</form>	
						</div>
					{% endif %}
						
				<!-- If you are on the first page -->
				{% if page == 1 %}
					{% for post in posts[:page+1] %}
						{{ render_post(post,IMAGES,page) }}
					{% endfor %}
					<div class="row">
						<div class="col-sm-12 push-sm">
							<p class="old_arrow"><a href="blog/{{page+1}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Older</a></p>
						</div>
					</div>
				<!-- If you are on another page -->
				{% elif page > 1 %}

					<!-- If you are on the last page -->
					{% if page == num_of_pages %}
						{% for post in posts[-1:] %}
							{{ render_post(post,IMAGES,page) }}
						{% endfor %}
						<div class="row">
						<div class="col-sm-12 push-sm">
							<p class="new_arrow"><a href="{{page-1}}">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
						</div>
					</div>
					<!-- If you a page that is not the first and not the last -->
					{% else %}
						{% for post in posts[ptt:page*2] %}
							{{ render_post(post,IMAGES,page) }}
						{% endfor %}
						
						<div class="row">
							<div class="col-sm-12 push-sm">
								{% if page == 2 %}
									<p class="new_arrow"><a href="/blog">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
								{% else %}
									<p class="new_arrow"><a href="{{page-1}}">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
								{% endif %}
								<p class="old_arrow"><a href="{{page+1}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Older</a></p>
							</div>
						</div>

					{% endif %} 
				{% endif %}
				
			{% else %}
				{% for post in posts %}
					{% if post[1] == posttitle|replace('-',' ') %}
						{{ render_post(post,IMAGES,page) }}
					{% endif %}
				{% endfor %}	
			{% endif %}



<script type="text/javascript" src="/static/js/gallery.js"></script>
<script type="text/javascript">
	// Sammy picture toggle
	$('.flipper').on('click', function() {
		$('.flip-container .flipper').toggleClass('reverse');
	});


</script>
{% endblock %}