{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-3">
		<div class="flip-container center-block">
			<div class="flipper">
				<img src="{{ CONTENT_DICT['Images']['portrait'] }}" alt="John Simmons portrait" class="img-rounded front">
				<img src="{{ CONTENT_DICT['Images']['sammy'] }}" alt="Sammy" class="img-rounded back">
			</div>
		</div>
		<div class="social center-block">
			<ul>
				<li><a href="{{ CONTENT_DICT['Social']['linkedin']['link'] }}"><i class="{{ CONTENT_DICT['Social']['linkedin']['fa'] }}" aria-hidden="true"></i></a></li>
				<li><a href="{{ CONTENT_DICT['Social']['github']['link'] }}"><i class="{{ CONTENT_DICT['Social']['github']['fa'] }}" aria-hidden="true"></i></a></li>
			</ul>

		</div>
	</div>
	<div class="col-sm-6">

		<div class="row">
			<div class="col-sm-12 push-sm">
			{% from "_renderpost.html" import render_post %}


			<!-- If on an integer page -->
			{% if posttitle == None %}

				<!-- If you are on the first page -->
				{% if page == 1 %}
					{% for post in posts[:page+1] %}
						{{ render_post(post,IMAGES,page) }}
					{% endfor %}
					<div class="row">
						<div class="col-sm-12 push-sm">
							<p class="old_arrow"><a href="blog/{{page+1}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Older</a></p>
						</div>
					</div>
				<!-- If you are on another page -->
				{% elif page > 1 %}

					<!-- If you are on the last page -->
					{% if page == num_of_pages %}
						{% for post in posts[-1:] %}
							{{ render_post(post,IMAGES,page) }}
						{% endfor %}
						<div class="row">
						<div class="col-sm-12 push-sm">
							<p class="new_arrow"><a href="{{page-1}}">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
						</div>
					</div>
					<!-- If you a page that is not the first and not the last -->
					{% else %}
						{% for post in posts[ptt:page*2] %}
							{{ render_post(post,IMAGES,page) }}
						{% endfor %}
						
						<div class="row">
							<div class="col-sm-12 push-sm">
								{% if page == 2 %}
									<p class="new_arrow"><a href="/blog">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
								{% else %}
									<p class="new_arrow"><a href="{{page-1}}">Newer <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
								{% endif %}
								<p class="old_arrow"><a href="{{page+1}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Older</a></p>
							</div>
						</div>

					{% endif %} 
				{% endif %}
				
			{% else %}
				{% for post in posts %}
					{% if post[1] == posttitle|replace('-',' ') %}
						{{ render_post(post,IMAGES,page) }}
					{% endif %}
				{% endfor %}	
			{% endif %}



{% include "_galleryjs.html" %}
<script type="text/javascript">
	// Sammy picture toggle
	$('.flipper').on('click', function() {
		$('.flip-container .flipper').toggleClass('reverse');
	});
</script>
{% endblock %}