{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p><a href="{{ url_for('projects') }}"><i class="fa fa-arrow-left"></i> Projects</a></p>
		<h1>{{ CONTENT_DICT['Projects']['jsnet']['name'] }}</h1>
		<h4 class='push-sm'>This website right here! &mdash; <a href="{{ CONTENT_DICT['Projects']['jsnet']['link'] }}" target="_blank"><i class="{{ CONTENT_DICT['Social']['github']['fa1x'] }}"></i></a></h4> 
		<p>{{ CONTENT_DICT['Projects']['jsnet']['desc'][:415]|safe }}</p>
		<p>{{ CONTENT_DICT['Projects']['jsnet']['desc'][415:680]|safe }}</p>
		<p>{{ CONTENT_DICT['Projects']['jsnet']['desc'][680:]|safe }}</p>
	</div>
</div>

{% endblock %}