{% extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message|safe }}
    {% endfor %}
  {% endif %}
{% endwith %}

{% if session["logged_in"] != True %}
	<div class="row">
		<div class="col-sm-6">
			<div id="login">
				<form method='POST' action="/login" class=''>
					{% from "macros/_renderfield.html" import render_field %}
					<dl>
						{{ LoginForm.csrf_token }}
						{{ render_field(LoginForm.username) }}
						{{ render_field(LoginForm.password) }}
						
					</dl>
					<button class="btn" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

{% else %}
	<p>Logged in as {{ session['username'] }}</p>
	<p><a href="/logout">logout</a></p>
{% endif %}	
{% endblock %}