{% extends "base.html" %}

{% block content %}



<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	{% for dict in projects_dict %}
		{% for _, v in dict.iteritems() %}
			<h1>{{v['name']}}</h1>
			<h4 class='push-sm'><a href="{{ v['link'] }}" target="_blank"><i class="{{ CONTENT_DICT['Social']['github']['fa1x'] }}"></i></a><small> | {{ v['date'] }}</small></h4>
			<p></p>
			<p>{{ v['desc']|safe }}</p> 
			{% for img in v['img'] %}
				<a name="{{ v['name'] }}" class="gallery" href="#" data-featherlight="{{ img['path'] }}"><img src="{{img['path']}}" alt="{{img['alt']}}" class="project-img img-rounded"></a>
			{% endfor %}

		{% endfor %}
		<hr>
	{% endfor %}	

</div>
</div>

{% include "_galleryjs.html" %}
{% endblock %}



