{% extends "base.html" %}


{% block content %}

{% if session['logged_in'] == True %}
	<p style="color:green;"><strong>Logged in</strong></p>	
{% endif %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="push-sm">Records</h1>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
		      {{ message|safe }}
		    {% endfor %}
		  {% endif %}
		{% endwith %}
		<div id="letter"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		<div id="plus"><p>+</p></div>
		
	 	<div id="addform">
		 	{% from "macros/_renderfield.html" import render_field %}
			<form method='POST' action="/records" class=''>
						<dl>
							{{ AddRecord.csrf_token }}
							{{ render_field(AddRecord.artist) }}
						</dl>
						
						<dl>
							{{ render_field(AddRecord.title) }}
						</dl>
						
						<dl>
							{{ render_field(AddRecord.color) }}
						</dl>

						<dl>
							{{ render_field(AddRecord.year) }}
						</dl>

						<dl>
							{{ render_field(AddRecord.size) }}
						</dl>

						<dl>
							{{ render_field(AddRecord.password) }}
						</dl>

						<dl>
							{{ render_field(AddRecord.notes) }}
						</dl>

						<dl>
							{{ render_field(AddRecord.mail) }}
						</dl>
						<button class="btn" type="submit">Add Record</button>
					</form>
		</div>		


	 	<!-- Tables -->
	 	<div class="have">
			{% for key, value in records.items() %}
				<table id="{{ key }}">
					<thead>
						<tr>
							<th class="size">{{ key }} Inch</th>
							<th></th>
							<th></th>
							<th></th>
							<th colspan='all' class="count">{{ value|length }}</th>
						</tr>
					</thead>
					<tbody>
					{%  for lst in value %}
						{% if lst[9] == False %}
							<tr>
								<td id="{{ lst[0] }}">{{ lst[1] }}</td>
								<td>{{ lst[2] }}</td>
								<td>{{ lst[3] }}</td>
								<td>{{ lst[4] }}</td>
								<td class="notes">{{ lst[5] }}</td>
								{% if session["logged_in"] == True %}
									<td><a href="/deleterecord/{{ lst[0] }}">Delete</a></td>
								{% endif %}
							</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		</div>

		<div class="mail">
			{% for key, value in mail.items() %}
			{% if value|length > 0%}
				<table id="{{ key }}">
					<thead>
						<tr>
							<th class="size">{{ key }} Inch</th>
							<th></th>
							<th></th>
							<th></th>
							<th colspan='all' class="count">{{ value|length }}</th>
						</tr>
					</thead>
					<tbody>
					{%  for lst in value %}
						{% if lst[9] == True %}
							<tr>
								<td id="{{ lst[0] }}">{{ lst[1] }}</td>
								<td>{{ lst[2] }}</td>
								<td>{{ lst[3] }}</td>
								<td>{{ lst[4] }}</td>
								<td class="notes">{{ lst[5] }}</td>
								{% if session["logged_in"] == True %}
									<td><a href="/deleterecord/{{ lst[0] }}">Delete</a></td>
									<td><a href="/mail/{{ lst[0] }}">Update</a></td>
								{% endif %}
							</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>




<script>

	if ( $('#submit_error').length > 0 ) {
		$("#plus").addClass('rotate');
		$("#addform").show();
	}

	$("#plus").on('click', function(){
		$('#letter').toggle();
		$("#addform").toggle();

		if ( $('#addform').attr('style') != 'display: none;' ) {
			$("#plus").addClass('rotate');
		} else {
			$("#plus").removeClass('rotate');
		}
	});

	// mail
	$("#letter").on('click', function(){
		$(".have").toggle();
		$('.mail').toggle();

	})


</script>









{% endblock %}