{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="push-sm">Records</h1>
		
		{% for key, value in records.items() %}
		<table>
			<thead>
				<tr>
					<th class="size">{{ value[0][-1] }} Inch</th>
					<th></th>
					<th></th>
					<th></th>
					<th colspan='all' class="count">{{ value|length }}</th>
				</tr>
			</thead>
			<tbody>
			{%  for lst in value %}
				<tr>
					<td>{{ lst[0] }}</td>
					<td>{{ lst[1] }}</td>
					<td>{{ lst[2] }}</td>
					<td>{{ lst[3] }}</td>
					<td class="notes">{{ lst[4] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endfor %}

	</div>
</div>


{% endblock %}