{% extends '_base.html' %}

{% block pagecontent %}


<div class="row">
	<div class="col-sm-12">
		<h1 class="text-center res-name">John Simmons</h1>
		<h2 class="text-center res-con">johndavidsimmons@gmail.com</h2>
		<h2 class="text-center res-con push-lg"><a href="{{ url_for('main.download') }}">Download PDF</a></h2>
		<p class='text-center res-head push-sm'><em>&mdash;Work&mdash;</em></p>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{% for list in CONTENT_DICT['Resume'] %}
			<strong><a href="{{ list[1] }}">{{ list[0] }}</a></strong> &mdash; <em>{{ list[3] }}</em>
			<small><p>{{ list[2] }}</p></small>
			<p class='push-sm'>{{ list[4] }}</p>
		{% endfor %}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<p class='text-center res-head push-sm'><em>&mdash;School&mdash;</em></p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{% for list in CONTENT_DICT['Education'] %}
			<strong><a href="{{ list[1] }}">{{ list[0] }}</a></strong> &mdash; <em>{{ list[2] }}</em>
			<small><p>{{ list[3] }}</p></small>
			<p class='push-sm'>{{ list[4] }}</p>
		{% endfor %}
	</div>
</div>
{% endblock %}