{% extends "_base.html" %}


{% block pagecontent %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>To-Do List</h1>
		<hr>
		<div class="ideas">
			<h2>{{CONTENT_DICT['year']}}</h2>
			<h3 class="mk-head">Done</h3>
			<ul>
				{% for item in CONTENT_DICT['todo']['2017']['done'] %}
					{% if item|length is equalto 2 %}
						<li class='done'><a href="{{ item[1] }}" target="_blank">{{ item[0] }}</a></li>
					{% else %}
						<li class='done'>{{ item }}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<h3 class="mk-head">On Deck</h3>
			<ul>
				{% for item in CONTENT_DICT['todo']['2017']['upcoming'] %}
					{% if item|length is equalto 2 %}
						<li class='next'><a href="{{ item[1] }}" target="_blank">{{ item[0] }}</a></li>
					{% else %}
						<li class='next'>{{ item }}</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<hr>
		<div class="ideas">
			<h2>2016</h2>
			<h3 class="mk-head">Done</h3>
			<ul>
				{% for item in CONTENT_DICT['todo']['2016']['done'] %}
					{% if item|length is equalto 2 %}
						<li class='done'><a href="{{ item[1] }}" target="_blank">{{ item[0] }}</a></li>
					{% else %}
						<li class='done'>{{ item }}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<h3 class="mk-head">Didn't make it...</h3>
			<ul>
				{% for item in CONTENT_DICT['todo']['2016']['upcoming'] %}
					{% if item|length is equalto 2 %}
						<li class='next'><a href="{{ item[1] }}" target="_blank">{{ item[0] }}</a></li>
					{% else %}
						<li class='next'>{{ item }}</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}